@page "/users/edit"
@using Microsoft.EntityFrameworkCore
@using PetHouse.Models
@inject IDbContextFactory<PetHouse.Data.PetHouseContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>User</h2>
<hr />
@if (User is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="User" OnValidSubmit="UpdateUser" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="User.Id" value="@User.Id" />
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <InputText id="username" @bind-Value="User.Username" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => User.Username" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <InputText id="password" @bind-Value="User.Password" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => User.Password" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="firstname" class="form-label">FirstName:</label>
                    <InputText id="firstname" @bind-Value="User.FirstName" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => User.FirstName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">LastName:</label>
                    <InputText id="lastname" @bind-Value="User.LastName" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => User.LastName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="User.Email" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => User.Email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <InputText id="phone" @bind-Value="User.Phone" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => User.Phone" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Age:</label>
                    <InputNumber id="age" @bind-Value="User.Age" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => User.Age" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <InputText id="location" @bind-Value="User.Location" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => User.Location" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="annualincome" class="form-label">AnnualIncome:</label>
                    <InputNumber id="annualincome" @bind-Value="User.AnnualIncome" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => User.AnnualIncome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="numpreownedpets" class="form-label">NumPreownedPets:</label>
                    <InputNumber id="numpreownedpets" @bind-Value="User.NumPreownedPets" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => User.NumPreownedPets" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="numdogsadoptedthiscalendaryear" class="form-label">NumDogsAdoptedThisCalendarYear:</label>
                    <InputNumber id="numdogsadoptedthiscalendaryear" @bind-Value="User.NumDogsAdoptedThisCalendarYear" class="form-control" />
                    <ValidationMessage For="() => User.NumDogsAdoptedThisCalendarYear" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userisadmin" class="form-label">UserIsAdmin:</label>
                    <InputCheckbox id="userisadmin" @bind-Value="User.UserIsAdmin" class="form-check-input" />
                    <ValidationMessage For="() => User.UserIsAdmin" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/users">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private User? User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        User ??= await context.User.FirstOrDefaultAsync(m => m.Id == Id);

        if (User is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateUser()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(User!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!UserExists(User!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/users");
    }

    private bool UserExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.User.Any(e => e.Id == id);
    }
}
