@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PetHouse.Models
@using PetHouse.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PetHouse.Data.PetHouseContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.User">
    <PropertyColumn Property="user => user.Username" />
    <PropertyColumn Property="user => user.FirstName" />
    <PropertyColumn Property="user => user.LastName" />
    <PropertyColumn Property="user => user.Email" />
    <PropertyColumn Property="user => user.Phone" />
    <PropertyColumn Property="user => user.Age" />
    <PropertyColumn Property="user => user.Location" />
    <PropertyColumn Property="user => user.AnnualIncome" />
    <PropertyColumn Property="user => user.NumPreownedPets" />
    <PropertyColumn Property="user => user.NumDogsAdoptedThisCalendarYear" />
    <PropertyColumn Property="user => user.UserIsAdmin" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"users/details?id={user.Id}")">Details</a> |
        <a href="@($"users/delete?id={user.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private PetHouseContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
