@page "/login"
@using Microsoft.AspNetCore.Identity
@using PetHouse.Models
@inject NavigationManager NavigationManager 

<PageTitle>Log In</PageTitle>

<h2>Log In</h2>
<div>
    <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="usernameLabel" class="form-label">Enter Username:</label>
            <InputText id="usernameLabel" class="form-control" @bind-Value="loginModel.Username" placeholder="Username" />
        </div>

        <div class="mb-3">
            <label for="passwordLabel" class="form-label">Enter Password:</label>
            <InputText id="passwordLabel" class="form-control" type="password" @bind-Value="loginModel.Password" placeholder="Password" />
        </div>

        <button type="submit" class="btn btn-primary">Sign In</button>
    </EditForm>

    @if (loginFailed)
    {
        <div class="alert alert-danger mt-3">
            Invalid login attempt. Please check your credentials and try again.
        </div>
    }
</div>

@code {
    public User = 
    private LoginModel loginModel = new LoginModel();
    private bool loginFailed = false;

    
    //TODO: IMPLEMENTATION (SignInManager Problems)
    private async Task HandleLogin()
    {
/*
         * var result = await SignInManager.PasswordSignInAsync(
                    loginModel.Username,
                    loginModel.Password,
                    isPersistent: false,
                    lockoutOnFailure: false
                );

                if (result.Succeeded)
                {
                    // Redirect user to dashboard or desired page
                    NavigationManager.NavigateTo("/dog");
                }
                else
                {
                    // Set loginFailed to true to show an error message in UI
                    loginFailed = true;
                }
         */
    }
}
