@page "/dogs"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PetHouse.Models
@using PetHouse.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PetHouse.Data.PetHouseContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="dogs/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Dog">
    <PropertyColumn Property="dog => dog.DogName" />
    <PropertyColumn Property="dog => dog.DogBreed" />
    <PropertyColumn Property="dog => dog.DogAge" />
    <PropertyColumn Property="dog => dog.DogSize" />
    <PropertyColumn Property="dog => dog.DogWeight" />
    <PropertyColumn Property="dog => dog.DogColor" />
    <PropertyColumn Property="dog => dog.DogPersonality" />
    <PropertyColumn Property="dog => dog.DogIsFriendlyWithChildren" />
    <PropertyColumn Property="dog => dog.DogIsFriendlyWithCats" />
    <PropertyColumn Property="dog => dog.DogHealthInformation" />
    <PropertyColumn Property="dog => dog.DogIsAdopted" />
    <PropertyColumn Property="dog => dog.DogPicture" />

    <TemplateColumn Context="dog">
        <a href="@($"dogs/edit?id={dog.Id}")">Edit</a> |
        <a href="@($"dogs/details?id={dog.Id}")">Details</a> |
        <a href="@($"dogs/delete?id={dog.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private PetHouseContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
