@page "/listings"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PetHouse.Models
@using PetHouse.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PetHouse.Data.PetHouseContext> DbFactory

<PageTitle>Listings</PageTitle>

<h1>Listings</h1>

<p>
    <a href="/addlisting">Create new listing</a>
</p>

<QuickGrid Class="table align-middle" Items="context.Dog">
    <TemplateColumn Context="dog" Class="col-2">
        <div>
            <img class="img-fluid" src="@dog.DogPicture" />
        </div>
    </TemplateColumn>

    <PropertyColumn Property="dog => dog.DogName" Title="Name"
                    Class="col-3" Align="Align.Center" />
    <PropertyColumn Property="dog => dog.DogBreed" Title="Breed"
                    Class="col-3" Align="Align.Center" />

    <TemplateColumn Context="dog" Class="col-3">
        <a href="@($"dog?id={dog.Id}")">View</a> |
        <a href="@($"dogs/edit?id={dog.Id}")">Edit</a> |
        <a href="@($"dogs/delete?id={dog.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private PetHouseContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
