@page "/policy"

<PageTitle>Policies</PageTitle>

<h2>Policies</h2>
<div>

<section>
    <h3>Introduction</h3>
    <p>
        Hello, and welcome to <b>Pet House</b>! 
        We are so excited to help you provide a home
        to one of our adorable pups.
    </p>

    <p>
        In order to ensure that our dogs go to a safe, loving, 
        and hopsitable home, we do have some policies in place
        that prospective adopters must observe and conform to
        in order for us to be confident that our dogs will
        receive the quality of life that they deserve.
    </p>
</section>

<section>
    <h3>Account Policy</h3>
    <p>
        First of all, all prospective adopters must have an
        account registered with us. 
        <br />
        In order to register, we will need the following information
        from you:

        <ul>
            <li>Email</li>
            <li>First and last name</li>
            <li>Age</li>
            <li>Location</li>
            <li>Annual income</li>
            <li>Number of pets currently in your household</li>
        </ul>

        In addition, you will need to be logged in before you can
        access any of our listings and find a pup to adopt. But
        once you are logged in, you can visit the "Listings" page
        to see all of the dogs we currently have available for
        adoption.
    </p>
</section>

<section>
    <h3>Application Policy</h3>
    <p>
        Once you find a dog who you want to take home, you will
        need to submit an adoption application via the button
        on the dog's page.
        After submitting your application, it will be reviewed
        and evaluated by one of our team members in order to
        determine whether your home is suitable and accomodating
        of a vulnerable, needy pup.
    </p>

    <p>
        Your application may be declined if any of the
        information you shared informs us that you and your
        household are not a good fit for adopting one of our
        dogs at this time. Such signs include, but are not limited
        to, the following:
        <ul>
            <li>If you are under 18 years old</li>
            <li>If you have more than 5 pets in your household already</li>
            <li>If you make less than $20,000 a year</li>
            <li>If you have already adopted 3 of our dogs this calendar year</li>
        </ul>
        If your application is declined, you are free to submit a new
        application, but do note that it is unlikely it will be accepted
        unless your conditions change.
    </p>

    <p>
        If your application is accepted, then congratulations,
        you will soon be able to meet your new pup! Soon after
        receiving news of your acceptance, you will receive an
        email from Pet House with information regarding your
        next steps.
    </p>
</section>

<section>
    <h3>Closing Remarks</h3>
    <p>
        Now that you have finished reading our policies, you have
        all the knowledge you need to be able to apply for adoption!
        We have links to all the most important pages in the sidebar
        to the left.
        <br />
        We wish you the best of luck in finding a new friend in
        one of our pups!
    </p>

    <p>
        <i>
            Questions? Concerns? Feel free to contact us!
            All of our contact info can be found on our
            contact page, a link to which we have provided here:
        </i>
        <a href="/contact">contact Pet House</a>.
    </p>
</section>

</div>

@code {

}
