@page "/login"

<PageTitle>Log In</PageTitle>

<h2>Log In</h2>
    <div>
    .
        <div class="mb-3">
            <label for="UsernameLabel" class="form-label">Enter Username:</label>
            <input type="username" class="form-control" id="UsernameLabel" placeholder="Username">
        </div>

<br />

        <section>
               <p>Enter Password:</p>
            <input type="password" ng-model="dataItem.password" 
            class="form-control" name="password" placeholder="Password"/>
        </section>

<br />
<!-- IMPLEMENT SIGN-ON -->
        <button type="button" onclick="alert('placeholder for sign-in')">Sign In</button>


    </div>
